---
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";
import ArrowTitle from "@components/ArrowTitle.astro";
import udaneProfileImage from "@assets/images/udane.png";
import unaiProfileImage from "@assets/images/unai.png";
import asierProfileImage from "@assets/images/asier.png";
import cardImage1 from "@assets/images/round-slider-1.png";
import cardImage2 from "@assets/images/round-slider-2.png";
import cardImage3 from "@assets/images/round-slider-3.png";
import cardIcon1 from "@assets/svg/icon-card-1.svg";
import cardIcon2 from "@assets/svg/icon-card-2.svg";
import cardIcon3 from "@assets/svg/icon-card-3.svg";
---

<MainLayout title="About Us" description="About Us Page">
  <div class="px-4 py-12 md:px-12">
    <h1 class="text-5xl font-bold text-custom-dark">About Us</h1>

    <p class="mb-8 mt-5 text-custom-dark">
      Specialists in the design and supply of impact protection equipment for
      the railway sector. We design customised lightweight structures with
      enhanced energy absorption capacity using recycled composite materials.
      Our solutions seamlessly integrate into the bogie, including wheelset or
      self-propelled frames, and towed rolling stock (wagons and carriages).
      With a solid foundation in academia, we are committed to giving back our
      investment in R&D to society, by working with our customers to develop
      innovative products that deliver competitive advantage.
    </p>

    <!-- Section People -->

    <section id="people" class="flex w-full flex-col md:flex-row">
      <div><Image src={unaiProfileImage} alt="Unai's profile pic" /></div>
      <div><Image src={asierProfileImage} alt="Asier's profile pic" /></div>
      <div><Image src={udaneProfileImage} alt="Udane's profile pic" /></div>
    </section>

    <!-- Section Slider Busqueda -->

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <ArrowTitle title="WHAT DOES RECHARGE AIM FOR?" colorText="custom-dark" />

    <h2 class="text-2xl font-bold text-custom-dark">What is our goal?</h2>

    <p>
      Recharge Recycling to Protect aims to supply rolling stock and high-speed
      train manufacturers with impact protection systems. Ultimately, we see
      ourselves as a principal strategic partner of passenger service operators.
    </p>

    <section
      id="circular-cards-block"
      class="my-8 flex w-full flex-col place-items-center gap-8 md:flex-row md:items-start md:justify-around"
    >
      <div class="rounded-card">
        <Image
          src={cardImage1}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Reduce maintenance and facilitate inspection of critical parts exposed
          to damages
        </p>
      </div>

      <div class="rounded-card">
        <Image
          src={cardImage2}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Long-lasting wheelset protection system for rolling stock
        </p>
      </div>

      <div class="rounded-card">
        <Image
          src={cardImage3}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Improve the reliability of our customers' bogies
        </p>
      </div>
    </section>

    <!-- Section Slider Mision -->

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <h2 class="text-2xl font-bold text-custom-dark">
      MISSION, VISION, AND VALUES
    </h2>

    <section
      id="icon-cards-block"
      class="my-8 flex w-full flex-col place-items-center md:flex-row md:items-stretch md:justify-around"
    >
      <div class="icon-card flex items-center gap-4">
        <p class="font-semibold text-custom-dark md:text-lg">
          Products of high added value developed in collaboration with the
          customer
        </p>
        <Image src={cardIcon1} alt="Plus icon" />
      </div>

      <div class="icon-card flex items-center gap-4">
        <Image src={cardIcon2} alt="Circular icon" />
        <p class="font-semibold text-custom-dark md:text-lg">
          Eco-friendly product, incorporating circular economy principles
        </p>
      </div>

      <div class="icon-card flex items-center gap-4">
        <p class="font-semibold text-custom-dark md:text-lg">
          Product promoting societal transformation and regional development
        </p>
        <Image src={cardIcon3} alt="Regional icon" />
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .rounded-card {
    max-width: 17.5rem;
    height: auto;
    text-align: center;
    flex-shrink: 0;
  }
  .rounded-card-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .rounded-card-text {
    margin: 0;
  }

  .icon-card {
    min-width: 22.5rem;
    width: 100%;
    max-width: 39rem;
    min-height: 11.8125rem;
    height: 100%;
    max-height: 20.475rem;
    border-radius: 0.625rem;
    background: #f4f4f4;
    box-shadow: 0px 4px 8px 0px rgba(29, 31, 63, 0.25);
    padding: 1rem;
    margin: 1rem;
  }

  .icon-card p {
    overflow: hidden;
  }
</style>
