---
import { Image } from "astro:assets";
import MainLayout from "@layouts/MainLayout.astro";
import ArrowTitle from "@components/ArrowTitle.astro";
import pexelsImage from "@assets/images/pexels.png";
import impactIcon from "@assets/svg/impact.svg";
import trebecularGrid from "@assets/svg/trebecular-grid.svg";
import auxeticaGrid from "@assets/svg/auxetica-grid.svg";
---

<MainLayout title="Product" description="Product Page">
  <div class="px-4 py-12 md:px-12">
    <h1 class="text-5xl font-bold text-custom-dark">Discover our Product</h1>

    <p class="mb-8 mt-5 text-custom-dark">
      Our proprietary technology guarantees that Recharge protection systems
      maximise the life cycle of bogies, reduce maintenance costs, and deliver
      competitive advantage.
    </p>

    <!-- Section Know How -->

    <section class="md:pb-16">
      <ArrowTitle title="DO YOU WANT TO KNOW HOW?" colorText="custom-dark" />
      <div class="md:flex md:gap-4">
        <p class="mt-5">
          The <span class="italic">Recharge</span> solution replaces coating and
          paint-based protection systems that make it difficult to inspect and maintain
          the bogie. Instead, we offer a removable, modular, customisable, repairable,
          and reusable protection solution made from recycled composite materials.
          <br />
          <br />
          Cellular structures with auxetic behaviour give our protection systems
          their technological edge.
        </p>

        <!-- Card with SVG -->

        <div
          class="recharge-solution-card mt-5 bg-custom-dark text-custom-gray"
        >
          <section class="grid grid-flow-col-dense grid-cols-3 md:grid-cols-1">
            <p class="col-span-2">
              Our wheelset shock absorber<sup>*</sup> solution can absorb 9 times
              the impact energy at low speed, up to 120 km/h. Therefore, our solution
              is suitable for high-speed trains up to 360 km/h.
            </p>
            <div class="col-span-1">
              <Image src={impactIcon} alt="Impact Icon" />
            </div>
          </section>

          <p class="mt-4 text-sm">
            <sup>*</sup> Impact validation with 120° conical tip as required by regulation.
          </p>
        </div>
      </div>
    </section>

    <div
      class="my-8 w-full border border-custom-dark-green opacity-60 md:hidden"
    >
    </div>

    <!-- Section 40% -->
    <section class="md:flex md:justify-end">
      <div class="background-number">
        <p class="text-xl font-semibold text-custom-dark md:text-2xl">
          Improves impact energy absorption by up to 40%
        </p>
      </div>
    </section>

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <!-- Section Know the Process -->
    <section class="my-6">
      <ArrowTitle
        title="DO YOU WANT TO LEARN ABOUT OUR PROCESS?"
        colorText="custom-dark"
      />

      <section class="md:flex md:items-end md:gap-x-6">
        <Image src={pexelsImage} alt="Pexels Image" class="my-4" />

        <div>
          <ArrowTitle
            title="Materials"
            colorText="custom-dark"
            textSize="2xl"
            fontType="semibold"
            arrowDown={true}
          />

          <p>
            Recent advances in railway structures demand lightweight designs to
            reduce energy consumption and track load. Fibre Reinforced Polymers
            (FRP) are lightweight, strong, rigid, and corrosion resistant, and
            are widely employed in the rail industry. Fibre-reinforced
            thermoplastic materials (FRTP) are also emerging as an attractive
            proposition for structural components because of their fast
            processing, recyclability, and energy absorption capacity under
            impact.
            <br />
            <br />
            Our protection systems are manufactured from polyamides and polypropylenes
            reinforced with glass fibres in collaboration with leading raw material
            suppliers. All products are fully compliant with fire regulation EN-45545-2.
          </p>
        </div>
      </section>

      <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

      <section class="flex">
        <div></div>

        <div>
          <ArrowTitle
            title="Complex cores and cellular structures"
            colorText="custom-dark"
            textSize="2xl"
            fontType="semibold"
            arrowDown={true}
          />

          <p>
            Composite materials can deliver the lightweight and strong
            structures the transport industry demands. The critical component of
            these materials is the core, as this distributes loads and improves
            strength and stiffness, ultimately achieving an optimal balance
            between weight and performance. Recharge supplies hexagonal and
            corrugated cores and cellular structures, with a focus on re-entrant
            (auxetic) or bio-inspired (trabecular) structures because of their
            excellent impact properties.
          </p>

          <section
            id="card-block"
            class="my-8 flex w-full flex-col place-items-center md:flex-row md:items-stretch md:justify-around"
          >
            <div class="grid-card aspect-grid-card bg-custom-dark">
              <Image
                src={trebecularGrid}
                alt="Trabecular icon"
                class="rounded-full"
              />
              <p class="text-center text-custom-gray md:text-lg">
                Trabecular (Beetle): Structures with higher impact resistance
                than conventional honeycomb structures.
              </p>
            </div>

            <div class="grid-card aspect-grid-card bg-custom-dark">
              <Image
                src={auxeticaGrid}
                alt="Auxeticas icon"
                class="rounded-full"
              />
              <p class="text-center text-custom-gray md:text-lg">
                Auxetics (Negative Poisson Ratio): Structures which densify
                under compression load, improving energy absorption capacity.
              </p>
            </div>
          </section>
        </div>
      </section>

      <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

      <ArrowTitle
        title="Manufacturing Processes"
        colorText="custom-dark"
        textSize="2xl"
        fontType="semibold"
        arrowDown={true}
      />

      <p>
        Selecting the most suitable technology for manufacturing composite parts
        depends on many factors such as production volume, the geometrical
        complexity of the component, and the required mechanical properties.
        <br />
        <br />
        <span class="italic">Recharge</span> combines conventional polymer processing
        technologies such as extrusion, thermoforming, thermoforming extrusion, thermoforming,
        GMT, and injection moulding to manufacture our products.
      </p>
    </section>
  </div>
</MainLayout>

<style>
  .recharge-solution-card {
    max-width: 46.5rem;
    height: auto;
    border-radius: 0.625rem;
    padding: 1.25rem;
  }

  .background-number {
    min-width: 22.5rem;
    width: auto;
    max-width: 30.125rem;
    min-height: 9.375rem;
    height: auto;
    max-height: 15.9375rem;
    position: relative;
    height: auto;
    margin: 4rem 0rem;
  }
  .background-number::before {
    position: absolute;
    content: "40";
    color: rgba(70, 167, 139, 0.25);
    font-family: Suprema;
    font-size: 20rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    top: -50%;
    z-index: -1;
  }

  @media (min-width: 768px;) {
    .background-number::before {
      font-size: 52.3125rem;
    }
  }

  .grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-radius: 0.625rem;
    max-width: 32.91206rem;
    height: auto;
    margin: 1rem;
    padding: 1.5rem;
  }

  .grid-card p {
    overflow: hidden;
  }
</style>
