---
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";
import ArrowTitle from "../components/core/ArrowTitle.astro";
import udaneProfileImage from "../assets/images/udane.png";
import unaiProfileImage from "../assets/images/unai.png";
import asierProfileImage from "../assets/images/asier.png";
import cardImage1 from "../assets/images/round-slider-1.png";
import cardImage2 from "../assets/images/round-slider-2.png";
import cardImage3 from "../assets/images/round-slider-3.png";
import cardIcon1 from "../assets/svg/icon-card-1.svg";
import cardIcon2 from "../assets/svg/icon-card-2.svg";
import cardIcon3 from "../assets/svg/icon-card-3.svg";
---

<MainLayout title="About Us" description="About Us Page">
  <div class="px-4 py-12">
    <h1 class="text-5xl font-bold text-custom-dark">Sobre nosotros</h1>

    <p class="mb-8 mt-5 text-custom-dark">
      Empresa dedicada al diseño y suministro de protecciones frente impacto
      para el sector de ferroviario. Diseño personalizado estructuras ligeras y
      con mayor capacidad de absorción de energía en material compuesto
      reciclado e integración en estructura del bogie como el eje montado o
      bastidor de material rodante autopropulsado así como del material
      remolcado (vagones y coches). Empresa proveniente del mundo académico con
      vocación devolver a la sociedad la inversión en I+D+i, transfiriendo y
      desarrollando junto con nuestros clientes nuevos productos innovadoras que
      les confiera una ventaja competitiva..
    </p>

    <!-- Section People -->

    <section id="people" class="flex w-full flex-col md:flex-row">
      <div><Image src={udaneProfileImage} alt="Udane's profile pic" /></div>
      <div><Image src={unaiProfileImage} alt="Unai's profile pic" /></div>
      <div><Image src={asierProfileImage} alt="Asier's profile pic" /></div>
    </section>

    <!-- Section Slider Busqueda -->

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <ArrowTitle title="¿A QUÉ ASPIRA RECHARGE?" colorText="custom-dark" />

    <h2 class="text-2xl font-bold text-custom-dark">
      RECHARGE BUSCA Y PERSIGUE:
    </h2>

    <p>
      Recharge Recycling to Protect aspira a ser proveedor de sistema de
      protección frente a impacto de fabricantes de material rodantes y
      constructores de trenes de alta velocidad. Así como principal aliado de
      empresas explotadores de servicios de pasajeros.
    </p>

    <section
      id="circular-cards-block"
      class="my-8 flex w-full flex-col place-items-center gap-8 md:flex-row md:items-start md:justify-around"
    >
      <div class="rounded-card">
        <Image
          src={cardImage1}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Reducir y facilitar las tareas de mantenimiento e inspección de partes
          críticas expuestas al impacto.
        </p>
      </div>

      <div class="rounded-card">
        <Image
          src={cardImage2}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Alargar la vida del material rodante ferroviario.
        </p>
      </div>

      <div class="rounded-card">
        <Image
          src={cardImage3}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Mejorar la fiabilidad de los bogies de nuestros clientes.
        </p>
      </div>
    </section>

    <!-- Section Slider Mision -->

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <h2 class="text-2xl font-bold text-custom-dark">MISIÓN VISIÓN Y VALORES</h2>

    <section
      id="icon-cards-block"
      class="my-8 flex w-full flex-col place-items-center md:flex-row md:items-stretch md:justify-around"
    >
      <div class="icon-card flex items-center gap-4">
        <p class="font-semibold text-custom-dark md:text-lg">
          Producto de alto valor añadido desarrollado junto con el cliente
        </p>
        <Image src={cardIcon1} alt="Plus icon" />
      </div>

      <div class="icon-card flex items-center gap-4">
        <Image src={cardIcon2} alt="Circular icon" />
        <p class="font-semibold text-custom-dark md:text-lg">
          Producto verde, filosofía economía circular
        </p>
      </div>

      <div class="icon-card flex items-center gap-4">
        <p class="font-semibold text-custom-dark md:text-lg">
          Producto transformador de la sociedad, desarrollo regional
        </p>
        <Image src={cardIcon3} alt="Regional icon" />
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .rounded-card {
    max-width: 17.5rem;
    height: auto;
    text-align: center;
    flex-shrink: 0;
  }
  .rounded-card-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .rounded-card-text {
    margin: 0;
  }

  .icon-card {
    min-width: 22.5rem;
    width: 100%;
    max-width: 39rem;
    min-height: 11.8125rem;
    height: 100%;
    max-height: 20.475rem;
    border-radius: 0.625rem;
    background: #f4f4f4;
    box-shadow: 0px 4px 8px 0px rgba(29, 31, 63, 0.25);
    padding: 1rem;
    margin: 1rem;
  }

  .icon-card p {
    overflow: hidden;
  }
</style>
