---
import { Image } from "astro:assets";
import arrowIcon from "@assets/svg/arrow.svg";

interface Props {
  title: string;
  colorText?: string;
  textSize?: string;
  fontType?: string;
  arrowDown?: boolean;
}

const {
  title,
  colorText,
  textSize = "sm",
  fontType = "normal",
  arrowDown = false,
} = Astro.props;
---

<p
  class={`flex items-start gap-3 text-${colorText} text-${textSize} font-${fontType} `}
>
  <Image
    src={arrowIcon}
    alt="Arrow Icon"
    class={`${arrowDown ? "arrow-down mt-[0.6em]" : ""}`}
  />
  {title}
</p>

<style>
  .arrow-down {
    transform: rotate(90deg);
  }
</style>
