---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@i18n/utils";
import Button from "@components/Button.astro";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

const { imageUrl, imageAlt, date, title, description, slug } = Astro.props;
---

<article class="bg-custom-dark shadow-md">
  <img src={imageUrl} alt={imageAlt} />

  <section>
    <p class="text-xs text-custom-green">
      {date}
    </p>

    <h3 class="text-lg font-semibold text-white">
      {title}
    </h3>
    <p
      class="text-overflow-ellipsis w-full overflow-hidden whitespace-nowrap text-white"
    >
      {description}
    </p>
    <footer>
      <Button href={translatePath(`/blog/${slug}`, lang)} background="green">
        {t("button.read")?.toUpperCase()}
      </Button>
    </footer>
  </section>
</article>

<style>
  article {
    width: 325px;
    height: 550px;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  img {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    height: 295px;
    object-fit: cover;
  }

  section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  section footer {
    display: flex;
    flex-direction: row-reverse;
  }
  @media (min-width: 768px) {
    article {
      min-width: 720px;
      width: auto;
      max-width: 1055px;
      height: 390px;
      flex-direction: row;
    }

    img {
      width: 50%;
      height: 390px;
      object-fit: cover;
    }

    section {
      width: 50%;
      height: 390px;
      padding: 2rem;
      justify-content: space-between;
    }
  }
</style>
