---
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";
import ArrowTitle from "@components/ArrowTitle.astro";
import udaneProfileImage from "@assets/images/udane.png";
import unaiProfileImage from "@assets/images/unai.png";
import asierProfileImage from "@assets/images/asier.png";
import cardImage1 from "@assets/images/round-slider-1.png";
import cardImage2 from "@assets/images/round-slider-2.png";
import cardImage3 from "@assets/images/round-slider-3.png";
import cardIcon1 from "@assets/svg/icon-card-1.svg";
import cardIcon2 from "@assets/svg/icon-card-2.svg";
import cardIcon3 from "@assets/svg/icon-card-3.svg";
---

<MainLayout title="Nor gara" description="About Us Page">
  <div class="px-4 py-12 md:px-12">
    <h1 class="text-5xl font-bold text-custom-dark">Nor gara?</h1>

    <p class="mb-8 mt-5 text-custom-dark">
      Trenbide-sektoreko osagai ezberdinek jasan ahal dituzten talkei aurre
      egiteko, babesgailuak disienatu eta hornitzen dituen empresa gara. Egitura
      arina eta neurrira egindako diseinuak, energia xurgatzeko ahalmen
      handiagoa dutena, material konposatu birziklatuz eginda eta bogie-aren
      egituran integratua, hala nola, ardatz muntatuan edo material
      gurpildunaren bastidorean eta baita material erremolkatuetan ere (bagoi
      zein kotxeetan). Irakaskuntzaren esparrutik datorren empresa gara, I+G+Bn
      egindako inbertsioa gizarteari itzultzeko bokazioz, gure bezeroekin batera
      abantaila lehiakorrez hornitutako produktu berriak sortu eta garatzen
      ditugu.
    </p>

    <!-- Section People -->

    <section id="people" class="flex w-full flex-col md:flex-row">
      <div><Image src={unaiProfileImage} alt="Unai's profile pic" /></div>
      <div><Image src={asierProfileImage} alt="Asier's profile pic" /></div>
      <div><Image src={udaneProfileImage} alt="Udane's profile pic" /></div>
    </section>

    <!-- Section Slider Busqueda -->

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <ArrowTitle title="ZEIN DA RECHARGE-N HELBURUA?" colorText="custom-dark" />

    <h2 class="text-2xl font-bold text-custom-dark">
      RECHARGEK LORTU NAHI DUENA:
    </h2>

    <p>
      Recharge Recycling to Protect-en helburua material gurpildunen
      fabrikatzaileak eta abiadura handiko trenen eraikitzaileak hornitzea da.
      Hauen osagarrietan eman daitezkeen talkei aurre egiteko babes sistemak
      eskainiz, eta baita bidaiarien zerbitzuak eskeintzen dituzten enpresen
      aliatu nagusiena izatea.
    </p>

    <section
      id="circular-cards-block"
      class="my-8 flex w-full flex-col place-items-center gap-8 md:flex-row md:items-start md:justify-around"
    >
      <div class="rounded-card">
        <Image
          src={cardImage1}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Inpakuarekiko zona kritikoen inspekzio zein mantenketa lanak murriztu
          eta errazten ditugu
        </p>
      </div>

      <div class="rounded-card">
        <Image
          src={cardImage2}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Material gurpildunaren bizitza luzatzea
        </p>
      </div>

      <div class="rounded-card">
        <Image
          src={cardImage3}
          alt="Image from first card"
          class="rounded-card-image"
        />
        <p class="rounded-card-text pt-5 md:pt-6">
          Gure bezeroen bogie-n fidagarritasuna hobetzea
        </p>
      </div>
    </section>

    <!-- Section Slider Mision -->

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <h2 class="text-2xl font-bold text-custom-dark">
      MISIOA, IKUSPEGIA ETA BALIOAK
    </h2>

    <section
      id="icon-cards-block"
      class="my-8 flex w-full flex-col place-items-center md:flex-row md:items-stretch md:justify-around"
    >
      <div class="icon-card flex items-center gap-4">
        <p class="font-semibold text-custom-dark md:text-lg">
          Bezeroarkein batera garatutako Balio erantsi altuko produktua
        </p>
        <Image src={cardIcon1} alt="Plus icon" />
      </div>

      <div class="icon-card flex items-center gap-4">
        <Image src={cardIcon2} alt="Circular icon" />
        <p class="font-semibold text-custom-dark md:text-lg">
          Ekonomia zirkularrean oinarritutako produktu berdea
        </p>
      </div>

      <div class="icon-card flex items-center gap-4">
        <p class="font-semibold text-custom-dark md:text-lg">
          Gizartea eraldatuko duen produktua, eskualdeko garapena
        </p>
        <Image src={cardIcon3} alt="Regional icon" />
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .rounded-card {
    max-width: 17.5rem;
    height: auto;
    text-align: center;
    flex-shrink: 0;
  }
  .rounded-card-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .rounded-card-text {
    margin: 0;
  }

  .icon-card {
    min-width: 22.5rem;
    width: 100%;
    max-width: 39rem;
    min-height: 11.8125rem;
    height: 100%;
    max-height: 20.475rem;
    border-radius: 0.625rem;
    background: #f4f4f4;
    box-shadow: 0px 4px 8px 0px rgba(29, 31, 63, 0.25);
    padding: 1rem;
    margin: 1rem;
  }

  .icon-card p {
    overflow: hidden;
  }
</style>
