---
import { Image } from "astro:assets";
import MainLayout from "@layouts/MainLayout.astro";
import ArrowTitle from "@components/ArrowTitle.astro";
import pexelsImage from "@assets/images/pexels.png";
import impactIcon from "@assets/svg/impact.svg";
import trebecularGrid from "@assets/svg/trebecular-grid.svg";
import auxeticaGrid from "@assets/svg/auxetica-grid.svg";
---

<MainLayout title="Produktua" description="Product Page">
  <div class="px-4 py-12 md:px-12">
    <h1 class="text-5xl font-bold text-custom-dark">Ezagutu gure produktua</h1>

    <p class="mb-8 mt-5 text-custom-dark">
      Recharge-n babes sistemek bogie-aren bizitza-zikloa luzatzen dute eta
      baita, mantentze kostuak gutxitu; Gainera, berezko teknologia garatzeari
      esker, abantaila lehiakorra ematen diete.
    </p>

    <!-- Section Know How -->

    <section class="md:pb-16">
      <ArrowTitle title="JAKIN NAHI DUZU NOLA?" colorText="custom-dark" />
      <div class="md:flex md:gap-4">
        <p class="mt-5">
          Recharge-k eskainitako soluzioak, ikuskapen lanak oztopatzen dituzten
          gain-estalduretan edota pinturetan oinarritutako babes sistemak
          ordezkaten ditu. Gainera, bogie-aren mantentze-lanak errazten ditu;
          jarri eta kendu daiteken babesgailu modularra, pertsonalizatua,
          konpongarria eta berrerabilgarria erabiliz, material konposatu
          birziklatuaz garatutakoa.
          <br />
          <br />
          Berrikuntza teknologikoa babes sistemen portaera auxetikoari bide ematen
          dioten egitura zelularren erabileran datza.
        </p>

        <!-- Card with SVG -->

        <div
          class="recharge-solution-card mt-5 bg-custom-dark text-custom-gray"
        >
          <section class="grid grid-flow-col-dense grid-cols-3 md:grid-cols-1">
            <p class="col-span-2">
              Recharge-n talken xurgatze-sistemak gai dira XXX araudiak*
              eskatzen duen energia baino 9 bider gehiago xurgatzeko.
            </p>
            <div class="col-span-1">
              <Image src={impactIcon} alt="Impact Icon" />
            </div>
          </section>

          <p class="mt-4 text-sm">
            * Araudiak eskatzen duen bezala, talkaren balidazioa 120ยบ -ko punta
            koniko batez egiten da.
          </p>
        </div>
      </div>
    </section>

    <div
      class="my-8 w-full border border-custom-dark-green opacity-60 md:hidden"
    >
    </div>

    <!-- Section 40% -->
    <section class="md:flex md:justify-end">
      <div class="background-number">
        <p class="text-xl font-semibold text-custom-dark md:text-2xl">
          Talkekiko energia-xurgapen gaitasuna % 40raino areagotzen du
        </p>
      </div>
    </section>

    <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

    <!-- Section Know the Process -->
    <section class="my-6">
      <ArrowTitle
        title="GURE PROZESUA EZAGUTU NAHI DUZU?"
        colorText="custom-dark"
      />

      <section class="md:flex md:items-end md:gap-x-6">
        <Image src={pexelsImage} alt="Pexels Image" class="my-4" />

        <div>
          <ArrowTitle
            title="Materialak"
            colorText="custom-dark"
            textSize="2xl"
            fontType="semibold"
            arrowDown={true}
          />

          <p>
            Trenbide egituretan egin berri diren aurrerapenek diseinu arinetara
            jotzen dute, energia kontsumoa eta trenbidearenganako karga
            gutxitzeko. Zuntzez sendotutako polimeroak (FRP) asko ari dira
            nabarmentzen tren-industrian, material arinak, sendoak eta
            korrosioarekiko erresistentzia dela eta. Gainera, zuntzez
            sendotatutako material termoplastikoak (FRTP) gero eta gehiago ari
            dira zabaltzen, prozesatze abiadura, birziklagarritasuna eta talken
            aurreko energia xurgatzeko ahalmenarengatik, besteak beste.
            <br />
            <br />
            <span class="italic">Recharge Recycling to Protect</span>,
            beira-zuntzez sendotutako poliamida eta polipropilenoa erabiliz
            fabrikatzen ditu babesgailu sistemak, EN-45545-2 araudiarekin bat
            eginik eta lehengaien fabrikatzaile nagusiekin elkarlanean arituz.
          </p>
        </div>
      </section>

      <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

      <section class="flex">
        <div></div>

        <div>
          <ArrowTitle
            title="Nukleo konplexuak eta egitura zelularrak"
            colorText="custom-dark"
            textSize="2xl"
            fontType="semibold"
            arrowDown={true}
          />

          <p>
            Material konposatuak erakargarriak dira garraioen industrian egitura
            arin eta sendoak eskeintzen dituztelako. Nukleoak funtsezkoak dira
            egitura hauetan. Izan ere, kargak banatu eta erresistentzia eta
            zurruntasuna hobetzen dituzte, pisuaren eta errendimenduaren arteko
            oreka ezin hobea lortuz. Recharge-k egitura zelular eta nukleo
            hexagonal eta korrugatuak hornitzen ditu. Egitura horien artean,
            egitura hexagonal re-entranteak (auxetikoak) edo bio-inspiratuak
            (trabekularrak) bereizten dira, talkarekiko dituzten propietate
            paregabeengatik.
          </p>

          <section
            id="card-block"
            class="my-8 flex w-full flex-col place-items-center md:flex-row md:items-stretch md:justify-around"
          >
            <div class="grid-card aspect-grid-card bg-custom-dark">
              <Image
                src={trebecularGrid}
                alt="Trabecular icon"
                class="rounded-full"
              />
              <p class="text-center text-custom-gray md:text-lg">
                Trabekularra (kakalardo egitura): <span class="italic"
                  >Honeycomb</span
                > egitura konbentzionalak baino inpaktuarenganako erresistentzia
                handiagoa du.
              </p>
            </div>

            <div class="grid-card aspect-grid-card bg-custom-dark">
              <Image
                src={auxeticaGrid}
                alt="Auxeticas icon"
                class="rounded-full"
              />
              <p class="text-center text-custom-gray md:text-lg">
                Auxetikoak: Karga konpresionpean dentsifikatzen diren egiturek
                energia xurgatzeko gaitasuna hobetzen dute.
              </p>
            </div>
          </section>
        </div>
      </section>

      <div class="my-8 w-full border border-custom-dark-green opacity-60"></div>

      <ArrowTitle
        title="Fabrikazio teknologiak"
        colorText="custom-dark"
        textSize="2xl"
        fontType="semibold"
        arrowDown={true}
      />

      <p>
        Material konpostuzko piezak fabrikatzeko teknologiaren aukeraketa
        faktore askoren menpe dago, hala nola, ekoizpen bolumena, produktuen
        konplexutasun geometrikoa eta lortu beharreko propietate mekanikoak.
        <br />
        <br />
        Recharge-k polimeroen ohizko transformazio teknologiak bateratzen ditu bere
        produktuak fabrikatzeko, hala nola, estrusioa, termo-konformatua, GMT-a edo
        injekzioa.
      </p>
    </section>
  </div>
</MainLayout>

<style>
  .recharge-solution-card {
    max-width: 46.5rem;
    height: auto;
    border-radius: 0.625rem;
    padding: 1.25rem;
  }

  .background-number {
    min-width: 22.5rem;
    width: auto;
    max-width: 30.125rem;
    min-height: 9.375rem;
    height: auto;
    max-height: 15.9375rem;
    position: relative;
    height: auto;
    margin: 4rem 0rem;
  }
  .background-number::before {
    position: absolute;
    content: "40";
    color: rgba(70, 167, 139, 0.25);
    font-family: Suprema;
    font-size: 20rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    top: -50%;
    z-index: -1;
  }

  @media (min-width: 768px;) {
    .background-number::before {
      font-size: 52.3125rem;
    }
  }

  .grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-radius: 0.625rem;
    max-width: 32.91206rem;
    height: auto;
    margin: 1rem;
    padding: 1.5rem;
  }

  .grid-card p {
    overflow: hidden;
  }
</style>
