---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";
import BlogCard from "@components/BlogCard.astro";

import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);

const blogEntries = await getCollection("blog", ({ data }) => {
  if (lang === "en") {
    return data.language === "en";
  }
});
---

<MainLayout title="News" description="News & Blog">
  <div class="px-4 py-12 md:px-12">
    <h1 class="text-5xl font-bold text-custom-dark">News</h1>
    <div class="flex justify-center pt-4">
      <ul class="flex flex-col gap-4">
        {
          blogEntries.map(entry => (
            <BlogCard
              imageUrl="/images/test.png"
              imageAlt={entry.data.image.alt}
              date={entry.data.pubDate.toLocaleDateString()}
              title={entry.data.title}
              description={entry.data.description}
              slug={entry.slug}
            />
          ))
        }
      </ul>
    </div>
  </div>
</MainLayout>
